.landing-page-nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.5rem 0;
  width: 100%;
  background-color: #5401ff;
  text-align: right;
}

.landing-page-nav a {
  padding: 0.75rem;
  color: white;
  text-decoration: none;
}

.landing-page-nav a:hover {
  text-decoration: underline;
  background: #190ce8;
}
