.items {
  display: flex;
  justify-content: space-between;
  margin: 0.1em;
  padding: 0.2em;
  text-align: left;
  list-style: none;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 0.1em;
  font-size: 1em;
  align-items: center;
}

.items {
  text-decoration: none;
  color: inherit;
}

.item-name {
  flex-grow: 1;
}

.packed {
  text-decoration: line-through;
}

.item-control-bar {
  color: lightgray;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.item-control-bar:hover,
.item-name:hover {
  cursor: pointer;
}

.item-control-bar svg {
  font-size: 1em;
}
