.Template {
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  margin-top: 3.3rem;
}

.Template__ul {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin: 0;
  margin-bottom: 100px;
}

.Template__li {
  display: flex;
  justify-content: space-between;
  margin: 0.1rem;
  padding: 0.2rem;
  list-style: none;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 0.1rem;
  font-size: 1.2rem;
  align-items: center;
}

.Template__form {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  list-style: none;
  text-decoration: none;
  font-size: 1.2rem;
  align-items: center;
}

.Template__form input {
  flex-grow: 0.9;
  border: none;
  font-size: 1.2rem;
}

.Template__form select {
  flex-grow: 0.9;
  font-size: 1.2rem;
  overflow: hidden;
  color: inherit;
  text-overflow: ellipsis;
}

.Template__button {
  display: inline-block;
  border: none;
  padding: 0;
  margin-right: 5px;
  text-decoration: none;
  background: 0;
  color: #190ce8;
  font-family: sans-serif;
  font-size: 1.3rem;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.add-item svg {
  float: left;
  margin-right: 30px;
}

.Template__sidebar {
  display: none;
}

@media only screen and (min-width: 768px) {
  .Template {
    position: absolute;
    top: 0;
    right: 0;
  }

  .Template .Title__h2 {
    background: #e20dff;
    left: auto;
    right: 0;
    overflow: hidden;
    white-space: nowrap;
  }

  .Template,
  .Template .Title__h2 {
    width: 67%;
  }

  .Template__sidebar {
    display: block;
    width: 33%;
  }
}
